body {
	background-color: rgb(232, 49, 32);
}

nav {
box-shadow: 0 8px 4px 0 rgba(0,0,0,.5);
}
	

body > h1 {
	margin-top: 1em;
}

h1 {
	text-align: center;
	margin-top: auto;
}

.container {
	text-align: center;
	background-color: rgb(232, 132, 32);
}


#container1 {
	width: 90%
	height: 500px;
	margin: 5px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: rgb(232, 109, 32);
}

#container1 div {
	max-width: 300px;
	text-align: center;
	flex-basis: 200px;
	flex-grow: 1;
}


img {
	height: 200px;
	border-radius: 10%;
	margin-top: 20px;
	transition: all 1s;
}

.container img, #container1 img {
	transition: all 1s;
}


.container img:hover, #container1 img:hover {
	transform: scale(1.1);
}



div.card {
	background-color: rgb(232, 49, 32);
	color: black;
	border: none;
}

div.card a {
	color:black;
}
.text-muted {
	background-color:black;
}

